
* {
    box-sizing: border-box;
    margin: 0;
}

.head {
    background-color: #1e1f22;
    padding: 50px;

}

h1 {
    background-color: #2b2d30;
    border: 3px solid white;
    border-radius: 50px;
    width: 500px;
    text-align: center;
    padding: 15px;
    color: white;
    margin: 5px auto;
}

body {
    background-color: #2b2d30;
}
p {
    margin: 25px 0;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold
}
td {
    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.tiles {
    width: 200px;
    height: 200px;
    border: none;
    opacity: 100;
    background-color: #2b2d30;
    transition: .3s;
    color: white;
    font-size: 100px;
}

table {
    margin: 50px auto;
    position: relative;
}
.vert {
    border-left: 5px solid white;
    border-right: 5px solid white;
}
.hori {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.tiles:hover {
    cursor: pointer;
    background-color: #1e1f22;
}

.score-board {
    margin: 20px auto;
    font-size: 46px;
    padding: 15px 20px;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    width: 200px;
    position: relative;
    text-align: center;
}

.badge {
    background-color: #df4e44;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
    text-align: center;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -17px;
}


#computer-label {
    position: absolute;
    top: 30px;
    right: -17px;
}

.winning-animation {
    color: green;
}